.ui-select-slide-box,
.ui-select-slide-display-box{
	position: absolute;
	background-color: white;
	border:1px solid #eee;
	font-size: 13px;
	/*width: 150px;*/
	color: #525e7b;
	box-shadow: 3px 3px 5px #8C8C8C;
}
.ui-select-slide-search-box{
	width: 100%;
	text-align: center;
	padding:4px 0;
}
.ui-select-slide-search{
	width: 98%;
	box-sizing: border-box;
	border: 1px solid #c6ccd7;
	padding:0 15px;
	height: 25px;
	line-height: 25px;
	color: #525e7b;
	border-radius: 3px;
	font-size: 14px;
}
.ui-select-slide-con-box,
.ui-select-slide-con-display-box{
	overflow: auto;
	max-height: 200px;
}
.ui-select-slide-con-item,
.ui-select-slide-con-display-item,
.ui-select-slide-con-display-checked-item{
	border-top: 1px solid #eee;
	padding-left: 15px;
	line-height: 25px;
	cursor: pointer;
}
.ui-select-slide-con-display-checked-item{
	font-weight:bold;
	color: red;
}
.ui-select-slide-con-item:hover,
.ui-select-slide-con-display-item:hover{
	background-color: #6B9CDE;
	color: white;
}
.ui-select-slide-checkbox{
	margin-right: 8px;
}
.ui-select-slide-empty-btn{
	display: inline-block;
	width: 18px;
	height: 18px;
	line-height: 18px;
	background-color: #eee;
	color: white;
	font-size: 14px;
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
	margin-left:-20px;
}
.ui-select-slide-empty-btn:hover{
	background-color: #ccc;
}
